.image--down {
  object-position: 50%  -50%;
}
.container{
  background-color: grey;
}
img {
  background-color: grey;
  height: 80%;
  min-width: auto;
  float: right;
  margin-left: 2em;
  margin-right: 2em;
}

#quoteContainer{
  margin-top:2em;
  padding-top: 4px;
  padding-bottom: 4px;
  
}

.pictureofMe{
  object-position: 50%  -40%;
  border-radius: 5px 90px 5px;
}