.image--down {
  object-position: 50%  -20%;
}
.container{
  background-color: grey;
}
img {
  background-color: grey;
  height: 80%;
  min-width: auto;
  float: right;
  margin-left: 9em;
  margin-right: 0em;
}

#quoteContainer{
  padding-top: 4px;
  padding-bottom: 4px;
}

.pictureofMe{
  object-position: 50%  -20%;
}