.personalBioh1{
  text-align: center !important;
  font-family: monospace;
  color: #734f96;
  padding: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
}
#board-container{
  background: url(../../../asset/glitters.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 80%;
  .personalBioh1{
    text-align: center;
  }
}