.techName{
  background-color: lavenderblush;
  font-family: monospace;
  font-size: 24px;
  border-style: dotted !important;
  align-items: flex-start;
  outline: dotted;
  flex:auto;
  padding-top: 4px;
  padding-bottom: 6px;
}