@import "~bootstrap/scss/bootstrap";


// li a:hover {
//   background-color: #111111;
// }

// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: white;
// }
// li a {
//   display: block;
//   color: black;
//   text-align: center;
//   padding: 16px;
//   text-decoration: none;
//   font-size: 24px;
// }

// li {
//   float: right;
//   justify-content: space-around;
// }
h1{
  font-size: 4em !important;
}
body{
    // background-color: powderblue;
    font-family: monospace; 
}
#homePage{
  background-color: grey;
  height: -webkit-fill-available;
  -webkit-margin-before-collapse: separate;
}

.emailaddress{
  text-align: center;
  font-family: monospace;
  font-size: 24px;
}

#bioPages{
  text-align: center;
  background-color: grey;
}

#technologiesPage{
  text-align: center;
  background-color: grey;
}

#projectsPage{
  background: url(../asset/glitters.jpg);
}

p{
  // display: flex;
  margin: 2%;
  text-align: center;
  font-size: 24px;
  border: 2px;
  // color: white;
  font-family: monospace;
}

.card img{
    height: 200px;
    width: 150px;
  }

  .card {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    border: black;
    border-style: solid;
    border-width: 2px;
  }
  .title{
    text-align: center;
    font-size: 36px;
    font-family: monospace;
    
  }
#navLinks{
  text-align: center;
  height: 5em;
  font-size: 32px;
  font-family: monospace;
  justify-content: space-evenly !important;
  justify-items: end;
  background: url('../asset/glitters.jpg');
  align-content: center;
  font-weight: bolder;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  a{
    color: #734f96 !important;
  }
}
.titleMeSpecial h1{
  text-align: center;
  height: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #FAD0C9FF;
  color: white !important;
}

  /* #bioPages{
    display: none;
  }
 */

.backgroundHeading{
  text-align: center;
 }
 .footerLinks{
  display: flex;
  font-size: 24px;
  justify-content: space-evenly;   
}

.email{
  display: inline-block;
  text-align: center;
  font-family: monospace;
  font-size: 24px;
  color: #000;
}

