@import "~bootstrap/scss/bootstrap";

h1{
  font-size: 4em !important;
}
body{
    background-color: grey;
    font-family: monospace; 
}
#homePage{
  background-color: grey;
  height: -webkit-fill-available;
  -webkit-margin-before-collapse: separate;
}

.emailaddress{
  text-align: center;
  font-family: monospace;
  font-size: 24px;
  color: white;
  background-color: #FAD0C9FF;
  height: 10%;
  padding-top: 3%;
}

#bioPage{
  text-align: center;
  background-color: grey;
}

#technologiesPage{
  text-align: center;
  background-color: grey;
}

#projectsPage{
  background-color: grey;
}

p{
  margin: 2%;
  text-align: center;
  font-size: 24px;
  border: 2px;
  font-family: monospace;
}

.card img{
    height: 200px;
    width: 150px;
  }

.card {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 2px;
}

.title{
  text-align: center;
  font-size: 36px;
  font-family: monospace;
  
}
#navLinks{
  text-align: center;
  height: 5em;
  font-size: 32px;
  font-family: monospace;
  justify-content: space-evenly !important;
  justify-items: end;
  background: url('../asset/glitters.jpg');
  align-content: center;
  font-weight: bolder;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  a{
    color: white !important;
  }
}
.titleMeSpecial h1{
  text-align: center;
  height: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #FAD0C9FF;
  color: Grey !important;
}

.backgroundHeading{
  text-align: center;
 }
 .footerLinks{
  display: flex;
  font-size: 24px;
  justify-content: space-evenly;   
  color: white;
}



