@import "~bootstrap/scss/bootstrap";

body{
  background: url('../asset/homepageimage.jpg');
  background-size: 100% 80%;
  background-repeat: no-repeat;
}


body{
    // background-color: powderblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color:  black;
}

.emailaddress{
  text-align: center;
}

.email{
  display: inline-block;
  font-family: 'Comfortaa', cursive;
}

#bioPages{
  text-align: center;
}

p{
  // display: flex;
  margin: 2%;
  text-align: center;
  font-size: 24px;
  border: 2px;
  color: white;
}

.card img{
    height: 200px;
    width: 150px;
  }

  .card {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    border: black;
    border-style: solid;
    border-width: 2px;
  }
  .title{
    text-align: center;
    font-size: 36px;
    font-family: 'Comfortaa', cursive;
    
  }
#navLinks{
  text-align: center;
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
  display: inline;
}

  /* #bioPages{
    display: none;
  }
 */

.backgroundHeading{
  text-align: center;
  font: 'Comfortaa', cursive;
 }
 .footerLinks{
  display: flex;
  font-size: 2em;
  justify-content: space-evenly;   
}


#bioPage p {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 90%;
}
